.header {
  background-color: #10382b;
  padding: 1.5rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo:hover {
  transform: scale(1.05);
}

.logo-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.2s;
}

.logo-image:hover {
  transform: scale(1.05);
}

.logo-text {
  color: #fef7e5;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
}

/* Responsive */
@media (max-width: 768px) {
  .logo {
    gap: 0.5rem;
  }
  
  .logo-image {
    height: 45px;
    width: 45px;
  }
  
  .logo-text {
    font-size: 1.4rem;
  }
}

.btn-primary,
.btn-secondary {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  font-family: 'Poppins', sans-serif;
}

.btn-primary {
  background-color: transparent;
  color: #fef7e5;
  border: 2px solid #fef7e5;
}

.btn-primary:hover {
  background-color: rgba(245, 243, 237, 0.1);
  transform: translateY(-2px);
}

.btn-secondary {
  background-color: #fef7e5; /*#2e7c80*/
  color: #1a4d50;
}

.btn-secondary:hover {
  background-color: #1a4d50;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(16, 56, 43, 0.3);
  color: #fef7e5;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 1rem; /* Esto creará un espacio de 1rem entre los botones */
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }

  .logo h1 {
    font-size: 1.4rem;
  }

  .nav-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .btn-primary,
  .btn-secondary {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
  }
}